/*********
General
*********/

* {
    color: #020202;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    text-align: center;
}

a {
    text-decoration: none;
}


/*********
Header
*********/
header {
    padding-left: 2vw;
    height: 5vw;
    padding-bottom: 0.5vw;
    background-color: #800000;
}

h1 {
    text-align: left;
    float: left;
    display: inline;
    font-size: 4.5vw;
    color: #f3f3f3;
}

.navButtons a {
    margin-top: 2vw;
    margin-right: 2.4vw;
    font-size: 1.25vw;
    text-align: center;
    display: inline;
    float: right;
    width: 6vw;
    padding: 0.5vw 1vw;
    color: #333;
    border: 1px #333 solid;
    background-color: #f3f3f3;
}

.navButtons a:hover {
    background-color: #ef626c;
    color: #000;
}

/*********
Home Page
*********/

.col {
    margin-top: 2vw;
    margin-bottom: 2vw;
    margin-left: 2vw;
    height: 30vw;
}

#leftCol {
    float: left;
    display: inline;
    clear: left;
    width: 25vw;
    height: 32vw;
}

#postBeanz {
    font-size: 2vw;
    text-align: center;
    display: inline;
    float: left;
    width: 100%;
    height: 3.5vw;
    padding-top: 1.345vw;
    color: #f3f3f3;
    border: 1px #333 solid;
    background-color: #800000;
}

#feed {
    float: left;
    display: inline;
    margin-top: 2vw;
    height: 23vw;
    width: 100%;
    padding-top: 2vw;
    font-size: 2vw;
    border: 1px #020202 solid;
    background-color: #e3e3e3;
}

#feed p {
    font-size: 1vw;
    display: block;
    color: black;
    background-color: #f3f3f3;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#feed p:hover {
    color: #800000;
}

#fullBeanz {
    display: inline;
    float: left;
    width: 40vw;
    padding-top: 2vw;
    font-size: 2vw;
    border: 1px #020202 solid;
    background-color: #e3e3e3;
}

#userInfo {
    display: block;
    float: left;
    width: 25vw;
    padding-top: 2vw;
    font-size: 2vw;
    border: 1px #020202 solid;
    background-color: #e3e3e3;
}

/*********
Post A Beanz
*********/

#beanzBigTitle {
    font-size: 3vw;
    margin: 1.5vw 0 1.5vw 0;
}

.beanzForm {
    margin: 0 auto;
    width: 50vw;
    padding: 2vw;
    border: 1px solid #ccc;
    border-radius: 1em;
    background-color: #efefef;
}

input, textarea {
    font-size: 2vw;
    border-radius: 1em;
    margin-top: 0.5vw;
    margin-bottom: 2vw;
    width: 100%;
}

label {
    font-size: 2vw;
}

#beanzSubmit {
    width: 20vw;
    margin-bottom: 0;
    border-radius: 1em;
    padding: 0.5vw;
    font-size: 1.5vw;
    background-color: #800000;
    color: #e3e3e3;
}

#beanzClear {
    width: 10vw;
    margin-bottom: 0;
    border-radius: 1em;
    padding: 0.5vw;
    font-size: 1.5vw;
    background-color: #800000;
    color: #e3e3e3;
}

/*********
Register Account / Login Page
*********/

.registerbtn {
    width: 20vw;
    margin-bottom: 1vw;
    border-radius: 1em;
    padding: 0.5vw;
    font-size: 1.5vw;
    background-color: #800000;
    color: #e3e3e3;
}

.already {
    margin-top: 1vw;
    font-size: 1.5vw;
    display: inline-block;
}

.altBtn {
    display: inline-block;
    width: 10vw;
    margin-bottom: 1vw;
    border-radius: 1em;
    padding: 0.5vw;
    font-size: 1.5vw;
    background-color: #800000;
    color: #e3e3e3;
}

/*********
Follow Page
*********/

.folCol {
    margin-top: 2vw;
    margin-bottom: 2vw;
    height: 30vw;
}

#follower {
    display: inline;
    float: left;
    margin-left: 7vw;
    width: 40vw;
    padding-top: 2vw;
    font-size: 2vw;
    border: 1px #020202 solid;
    background-color: #e3e3e3;
}

#following {
    display: inline;
    float: right;
    margin-right: 7vw;
    width: 40vw;
    padding-top: 2vw;
    font-size: 2vw;
    border: 1px #020202 solid;
    background-color: #e3e3e3;
}

/*********
Settings
#idk {
    color: #fff;
}
Let's not do this just yet.
*********/



/*
Colors
Maroon: #800000
Rich Black: #080705
Slate Gray: #70798C
Lavender Blush: #F6E8EA
Fiery Rose: #EF626C
*/
